<html>

    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Cadastro de books</h1>

                        <form action="/books" method="post">

                            <div if(data.book.id)>
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" id="id" name="id" value="${data.book.id}"/>
                            </div>


                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input class="form-control" type="text" id="title" name="title" placeholder="coloque o title" value="${data.book.title}" />
                            </div>
                            <div class="form-group">
                                <label for="price">Price:</label>
                                <input class="form-control" type="text" id="price" name="price" placeholder="150.25" value="${data.book.price}"/>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" cols="20" rows="10"  id="description" name="description" placeholder="fale sobre o book" > ${data.book.description}</textarea>
                            </div>

                            <input class="btn btn-success" type="submit" value="Salvar" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>