<html>

    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Cadastro de livros</h1>

                        <form action="/livros" method="post">

                            <div if(data.livro.id)>
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" id="id" name="id" value="${data.livro.id}"/>
                            </div>


                            <div class="form-group">
                                <label for="titulo">Titulo:</label>
                                <input class="form-control" type="text" id="titulo" name="titulo" placeholder="coloque o titulo" value="${data.livro.titulo}" />
                            </div>
                            <div class="form-group">
                                <label for="preco">Preço:</label>
                                <input class="form-control" type="text" id="preco" name="preco" placeholder="150.25" value="${data.livro.preco}"/>
                            </div>
                            <div class="form-group">
                                <label for="descricao">Descrição:</label>
                                <textarea class="form-control" cols="20" rows="10"  id="descricao" name="descricao" placeholder="fale sobre o livro" > ${data.livro.descricao}</textarea>
                            </div>

                            <input class="btn btn-success" type="submit" value="Salvar" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>